patients-api/src/main/mule/patientdrugdetails-md.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="patientdrugdetails-md-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="patientdrugdetails-md-config" api="resource::3534b4e0-4d51-49af-9f6c-976319346b5a:patientdrugdetails-md:1.0.3:raml:zip:patientdrugdetails-md.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="patientdrugdetails-md-main">
        <http:listener config-ref="patientdrugdetails-md-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="patientdrugdetails-md-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patientdrugdetails-md-console">
        <http:listener config-ref="patientdrugdetails-md-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="patientdrugdetails-md-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\patients\(patients_ID)\orders:patientdrugdetails-md-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="patients_ID">attributes.uriParams.'patients_ID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Patient_ID: 1,
    PatientName: "Arunkumar",
    Age: 56,
    Drug_ID: 123,
    Drugs: "Metaglip",
    Dosage: "40mg"
  }, 
  {
    Patient_ID: 2,
    PatientName: "Bharath",
    Age: 67,
    Drug_ID: 456,
    Drugs: "Jentadueto",
    Dosage: "50mg"
  }, 
  {
    Patient_ID: 3,
    PatientName: "Chris",
    Age: 34,
    Drug_ID: 678,
    Drugs: "ActoPlus Met",
    Dosage: "20mg"
  }, 
  {
    Patient_ID: 4,
    PatientName: "Devaraj",
    Age: 45,
    Drug_ID: 789,
    Drugs: "Avandamet",
    Dosage: "10mg"
  }, 
  {
    Patient_ID: 5,
    PatientName: "George",
    Age: 35,
    Drug_ID: 543,
    Drugs: "Glucovance",
    Dosage: "80mg"
  }, 
  {
    Patient_ID: 6,
    PatientName: "Franklin",
    Age: 56,
    Drug_ID: 120,
    Drugs: "Glucotrol",
    Dosage: "45mg"
  }, 
  {
    Patient_ID: 7,
    PatientName: "Peterson",
    Age: 40,
    Drug_ID: 651,
    Drugs: "Micronas",
    Dosage: "50mg"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\patients:patientdrugdetails-md-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Patient_ID: 1,
    PatientName: "Arunkumar",
    Age: 56,
    Drug_ID: 123,
    Drugs: "Metaglip",
    Dosage: "40mg"
  }, 
  {
    Patient_ID: 2,
    PatientName: "Bharath",
    Age: 67,
    Drug_ID: 456,
    Drugs: "Jentadueto",
    Dosage: "50mg"
  }, 
  {
    Patient_ID: 3,
    PatientName: "Chris",
    Age: 34,
    Drug_ID: 678,
    Drugs: "ActoPlus Met",
    Dosage: "20mg"
  }, 
  {
    Patient_ID: 4,
    PatientName: "Devaraj",
    Age: 45,
    Drug_ID: 789,
    Drugs: "Avandamet",
    Dosage: "10mg"
  }, 
  {
    Patient_ID: 5,
    PatientName: "George",
    Age: 35,
    Drug_ID: 543,
    Drugs: "Glucovance",
    Dosage: "80mg"
  }, 
  {
    Patient_ID: 6,
    PatientName: "Franklin",
    Age: 56,
    Drug_ID: 120,
    Drugs: "Glucotrol",
    Dosage: "45mg"
  }, 
  {
    Patient_ID: 7,
    PatientName: "Peterson",
    Age: 40,
    Drug_ID: 651,
    Drugs: "Micronas",
    Dosage: "50mg"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\patients\(patients_ID)\orders\(orders_ID):patientdrugdetails-md-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="patients_ID">attributes.uriParams.'patients_ID'</ee:set-variable>
                <ee:set-variable variableName="orders_ID">attributes.uriParams.'orders_ID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Patient_ID: 1,
    PatientName: "Arunkumar",
    Age: 56,
    Drug_ID: 123,
    Drugs: "Metaglip",
    Dosage: "40mg"
  }, 
  {
    Patient_ID: 2,
    PatientName: "Bharath",
    Age: 67,
    Drug_ID: 456,
    Drugs: "Jentadueto",
    Dosage: "50mg"
  }, 
  {
    Patient_ID: 3,
    PatientName: "Chris",
    Age: 34,
    Drug_ID: 678,
    Drugs: "ActoPlus Met",
    Dosage: "20mg"
  }, 
  {
    Patient_ID: 4,
    PatientName: "Devaraj",
    Age: 45,
    Drug_ID: 789,
    Drugs: "Avandamet",
    Dosage: "10mg"
  }, 
  {
    Patient_ID: 5,
    PatientName: "George",
    Age: 35,
    Drug_ID: 543,
    Drugs: "Glucovance",
    Dosage: "80mg"
  }, 
  {
    Patient_ID: 6,
    PatientName: "Franklin",
    Age: 56,
    Drug_ID: 120,
    Drugs: "Glucotrol",
    Dosage: "45mg"
  }, 
  {
    Patient_ID: 7,
    PatientName: "Peterson",
    Age: 40,
    Drug_ID: 651,
    Drugs: "Micronas",
    Dosage: "50mg"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\patients\(patients_ID):patientdrugdetails-md-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="patients_ID"><![CDATA[attributes.uriParams.'patients_ID' as Number]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Patient_ID: 1,
    PatientName: "Arunkumar",
    Age: 56,
    Drug_ID: 123,
    Drugs: "Metaglip",
    Dosage: "40mg"
  }, 
  {
    Patient_ID: 2,
    PatientName: "Bharath",
    Age: 67,
    Drug_ID: 456,
    Drugs: "Jentadueto",
    Dosage: "50mg"
  }, 
  {
    Patient_ID: 3,
    PatientName: "Chris",
    Age: 34,
    Drug_ID: 678,
    Drugs: "ActoPlus Met",
    Dosage: "20mg"
  }, 
  {
    Patient_ID: 4,
    PatientName: "Devaraj",
    Age: 45,
    Drug_ID: 789,
    Drugs: "Avandamet",
    Dosage: "10mg"
  }, 
  {
    Patient_ID: 5,
    PatientName: "George",
    Age: 35,
    Drug_ID: 543,
    Drugs: "Glucovance",
    Dosage: "80mg"
  }, 
  {
    Patient_ID: 6,
    PatientName: "Franklin",
    Age: 56,
    Drug_ID: 120,
    Drugs: "Glucotrol",
    Dosage: "45mg"
  }, 
  {
    Patient_ID: 7,
    PatientName: "Peterson",
    Age: 40,
    Drug_ID: 651,
    Drugs: "Micronas",
    Dosage: "50mg"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="dc4b2379-dacc-45fd-9e78-0124b73b9183">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map $ filter $.Patient_ID== vars.patients_ID]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="25dc6f79-2ff6-464b-88fa-7111e02bd453" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
